/* resetting margin, padding and box sizing. Set the ROBOTO font as default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: black;
}

/*  */

/* Main header styling start */
header {
    background-color: #1e2024;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    border-bottom: #2a2c32 1px solid;
}
    
    /* SEARCH SECTION STYLING START */

.search {
    height: 100%;
}

.srch_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ico {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #62676e;
    align-items: center;
    justify-content: center;
    color: #c6c7ca;
    margin-left: 14.5px;
}

.srch {
    margin-left: 14.5px;
    margin-right: 58px;
}

.vl {
    height: 16px;
    width: 1px;
    background-color: #62676e;
}

.searcher {
    background-color: #1e2024;
    border: none;
    width: 168px;
    color: #787e85;
    font-size: 16px;
    letter-spacing: -0.67px;
}

    /* SEARCH SECTION STYLING END */

    /* CENTER DASH STYLING START */
.dash {
    display: flex;
    margin-left: 31px;
    align-items: center;
    justify-content: space-between;
    width: 513px;
    height: 100%;
}

.dashbtn {
    text-decoration: none;
    letter-spacing: -0.75px;
    color: #62676e;
    font-size: 18px;
}

/* This makes a button white when pressed, but i will be keeping "DASHBOARD" constantly white (Because gallery.io says so :) */
.selected, .dashbtn:focus {
    color: #fff;
}

.settingsSection {
    max-width: 181px;
    height: 100%;
    margin-left: auto;
    margin-right: 25px;
    display: flex;
    letter-spacing: -0.67px;
    font-size: 16px;
}

    /* CENTER DASH STYLING END */

    /* TIME AND SETTING SECTION STYLING START */
.time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#62676e;
    width: 135px;
    border-right: #2a2c32 1px solid;
    border-left: #2a2c32 1px solid;
}

.settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45px;
    color: #62676e;
}

    /* TIME AND SETTING SECTION STYLING END */

/* Main header styling end */

/* MAIN BODY CONTAINER STYLING START */

.main_body_container {
    display: flex;
    background-color: #232529;
}

.main_area {
    height: 100%;
    width: 68.75%;
    box-shadow: 0.5px 9.5px 25px -2px #000000;
    z-index: 1;
    padding-bottom: 70px;
}

    /* SECONDARY HEADER START */
.secondary_header {
    margin-left: 7.549%;
    margin-right: 2%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3a3d43;
}
        /* BUTTONS END */
.dash_secondary_btn {
    padding:19px 30px;
    text-decoration: none;
    letter-spacing: -0.66px;
    color: #62676e;
    font-size: 18px;
}

.secondary_btn_selected, .dash_secondary_btn:focus  {
    color: #fff;
    border-bottom: 2px solid #f40034;
}

.rhbtn_selected, .lhbtn:focus {
    color: #fff;
}

.secondary_header_rhbtn{
    display: flex;
}

.btncont {
    display: flex;
    font-size: 12px;
    color: #62676e;
    width: 100px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.rhbtn {
    text-decoration: none;
    color: #62676e;
}

.btncont {
    border: 1px solid #62676e;
}

.rhbtn_selected, .first{
    color: #fff;
    background-color: #f40034;
    border: none;
}

.first {
    border-radius: 5px 0 0 5px;
}

.second {
    border-radius: 0 5px 5px 0;
    border-left: none;
}
        /* BUTTONS END */
    /* SECONDARY HEADER END */

    /* BOTTOM SECONDARY HEADER START */

.bot_secondary_header {
    border-bottom: 1px solid #33363e;
}

.btn {
    display: flex;
    height: 36px;
    width: 184px;
    border: 1px solid #3a3d43;
    border-radius: 3px;
    color:  #3a3d43;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.bot_secondary_header .btn p {
    color: white;
    letter-spacing: -0.58px;
    padding-right: 43px;
}

.bot_secondary_header .right_btn p {
    word-spacing: 0.09px;
}

.right_btn {
    width: 270px;
}

    /* BOTTOM SECONDARY HEADER END */

    /* MAIN CONTENT ROWS START */

.betting_rows p, .betting_rows div {
    color: white;
}

.group {
    display: flex;
}

.buttons{
    display: flex;
}

.betting_rows .group .first_column .selector {
    color: #232529;
    background-color: #fff;
    font-size: 14px;
    border-radius: 2px;
    max-width: 60px;
    padding-left: 4.5px;
}

span {
    color: #919aa3;
    font-size: 10px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.betting_rows p {
    font-size: 14px;
    margin-top: 2px;
}

.betting_rows .left_group img,
.betting_rows .left_group p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.betting_rows .left_group p {
    flex-direction: row;
    justify-content: flex-start;
}

.third_column {
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    
}

.third_column p {
    display: flex;
}

.final_row {
    margin-left: 40px;
    align-self: flex-end;
}

.final_row p {
    display: flex;
}

.fourth_column {
    display: flex;
    flex-direction: column;
}
.fourth_column p {
    display: flex;
}

.first_button {
    max-width: 44px;
    max-height: 40px;
    background-color: #0376bb;
    border: none;
    outline: none;
}

.second_button {
    max-width: 113px;
    max-height: 40px;
    background-color: #03bb4f;
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
}

.right_center_group .greyen {
    color: #919aa3;
}

.right_center_group p{
    width: 47.5px;
}

.buttons .second_button p {
    padding-right: 9px;
}

.buttons .second_button i {
    padding-left: 5px;
    padding-top: 2px;
    font-size: 18px;
}

.betting_rows .left_group p {
    align-self: center;
    margin-top: 1px;
    width: 70px;
}

.betting_rows img {
    width: 16px;
}

.two {
    background-color: #2a2c32;
    border: none;
    border-radius: 5px;
}

.one {
    border: none;
}

.optional {
    visibility: hidden;
}

/* THE MOST IMPORTANT CLASS EVER !  */

.green {
    color: #03bb4f !important;
}

/* THE MOST IMPORTANT CLASS EVER !  */

.yellowen {
    background-color: yellow;
    color: #1e2024;
    padding-left: 1.5px;
    border-radius: 1.5px;
    font-size: 12px;
}
    /* MAIN CONTENT ROWS END */


    /* SIDEBAR */

.sidebar {
    height: 964px;
    width: 31.25%;
    background-color: #1e2024;
    padding-bottom: 80px;
}

    /* SIDEBAR TOP BAR */

.sidebar_top_bar {
    display: flex;
    height: 60px;
    max-width: 450px;
    border-bottom: 1px solid #2a2c32;
    margin: auto;
}

.sidebar_top_bar p {
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: -0.68px;
    color: #fff;
}
    /* SIDEBAR TOP BAR */

    /* SIDEBAR BOT BAR */

.header_bot_sidebar {
    display: flex;
    align-items: center;
    height: 37px;
    width: 450px;
    border-bottom: 1px solid #2a2c32;
    margin: auto;
}

.header_bot_sidebar p {
    margin-left: 9px;
    color: #919aa3;
    letter-spacing: -0.75px;
    font-size: 18px;
}

    /* SIDEBAR BOT BAR */

    /* SIDEBAR ROWS */

.sidebar_row {
    display: flex;
    height: 60px;
    margin: auto;
    width: 450px;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: -0.67px;
    border-bottom: 1px solid #2a2c32;
}

.left_team,
.right_team {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px;
    width: 145px;
    margin: -7px;
}

.pc {
    width: 75px;
    text-align: end;
}

.right_team .pc {
    text-align: start;
}

.imgc {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}

.date {
    font-size: 10px;
    color: #62676e;
    letter-spacing: 1.5px;
}

.ft {
    font-size: 14px;
    color: #787e85;
    letter-spacing: -0.58px;
}

.score {
    letter-spacing: -0.58px;
    font-size: 14px;
    background-color: rgba(3, 187, 79, 0.5);
    padding: 2px 10px;
    border-radius: 2.5px;
    margin: 3px 0;
} 

.unscored {
    background-color: #1e2024;
    color: #62676e;
}

.selected_row {
    background-color: #33363e;
    border-radius: 5px;
}

.no_border {
    border: none;
}
    /* SIDEBAR ROWS */

/* SIDEBAR */



/* BUTTONS */

.big_button {
    display: flex;
    width: 450px;
    height: 36px;
    background-color: #33363e;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0.5px 0.5px 10px 0px rgba(0, 0, 0, 0.5);
}

.big_button p {
    display: flex;
    color: #fff;
}

/* BUTTONS */

@media only screen and (max-width: 1366px) {

    .sidebar {
        display: none;
    }

    .main_area {
        width: 80%;
        margin: auto;
        box-shadow: none;
    }

    .betting_rows,
    .secondary_header {
        margin: 0px;
    }

    .third_column {
        margin-left: 0px;
        margin-right: 40px;
    }
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 1050px){

    .main_area {
        width: 95%;
    }

    .searcher {
        display: none;
    }

    .secondary_header {
        margin-left: 50px;
        margin-right: 50px;
    }

    .dash_secondary_btn:nth-child(4){
        display: none;
    }
    .main_area {
        width: 100%;
    }

    .third_column {
        margin-left: 0px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 930px){
    .first_button {
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }

    .second_button {
        width: 80%;
        height: 25px;
    }

    .second_button p {
        font-size: 12px;
    }

    .final_row {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 815px) {
    
    .main_area {
        width: 100vw;
        margin: 0px;
        padding: 0px;
        padding-bottom: 50px;
    }

    .searcher {
        display: none;
    }

    .dashbtn {
        font-size: 0.9rem;
    }

    .one .first_button,
    .one .second_button {
        width: 23px;
        height: 18px;
        background-color: transparent;
    }

    .two .first_button,
    .two .second_button {
        width: 23px;
        height: 18px;
        background-color: #2a2c32;
    }

    .right_center_group {
        margin: auto;
    }

    .first_button {
        padding-top: 1.5px;
        transform: scale(1.09);
    }

    .second_button p {
        display: none;
    }
}

/* RESPONSIVE MEDIA QUERIES */